@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root, 
.app {
  min-height: 100dvh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}